<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="map"></div>
    <div class="controls">
        <button class="btn">Buscar</button>
    </div>
    <script>
        const CLIENT_ID="{CLIENT_ID}";
        const CLIENT_KEY="{CLIENT_KEY}";
    </script>
    <script src="main.js"></script>
    <script async defer
    src="//maps.googleapis.com/maps/api/js?key=AIzaSyBH2arerH_5RPavdumhor9-032-Uik5haw&callback=initMap">
    </script>
</body>
</html>