:root {
    /* color variables */
    --aqua: #008f95;
    --vermillion: #e24e42;
    --sunshine: #e9b000;
    --blush: #eb6e80;
    --clean: #f5f5f5;
    /* font variables */
    --sriracha: 'Sriracha', cursive;
    --nanum: 'Nanum Gothic', sans-serif;
}

.Header {
    position: relative;
    margin: 0;
    padding: 10px;
    background-color: var(--vermillion);
    color: var(--clean);
    text-align: center;
    box-sizing: border-box;
    border-bottom: 2px solid var(--clean);
}

@media (min-width: 768px) {
    .Header {
        margin-bottom: 10px;
    }
}

.Header_title {
    margin: 0;
    font-family: var(--sriracha);
    font-size: 3rem;
}

.Header_author {
    font-size: .85rem;
    margin: 0 auto 10px;
}

.Header_author--italic {
    font-style: italic;
}

.Map {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.Map_wrapper {
    min-width: 375px;
    height: 375px;
    margin-bottom: 10px;
}

.Map_controls {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
}
